#game{
    margin: auto;
    width: 600px;
    height: 600px;
    background: rgb(70, 228, 240);
}
.pixil{
    position: absolute;
    width: 48px;
    height: 43.5px;
    background: red;
    overflow: hidden;
    top: 565px;
}
.spritePlayer{
    width: 576px;
    transform: translateX(-192px);
    image-rendering: pixelated;
}