#game{
    margin: auto;
    width: 600px;
    height: 600px;
    background: rgb(70, 228, 240);
    overflow: hidden;
}
#container{
    position: relative;
}
#player{
    position: absolute;
    height: 40px;
    background: red;
    top: 560px;
    image-rendering: pixelated;
}